// slide-down
.slide-down-enter-active, .slide-down-leave-active {
  transition: all .3s ;
}
.slide-down-enter {
  height: auto;
  transform: translateY(-100%);
}
.slide-down-leave-to {
  height: 0;
  transform: translateY(-100%);
}

// fade
.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0
}

@keyframes loadingAnimation {
  0% {
    opacity: 0;
    transform: scale(0.5) rotate(-25deg);
  }

  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

@keyframes BackgroundChange {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 0 -525px;
  }
}

@keyframes BackgroundChangeMobile {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 0 -210px;
  }
}