.btn-normal {
  width: 120px;
  text-align: center;
  height: 48px;
  font-weight: bold;
  line-height: 1;
  border: none;
  cursor: pointer;
}

.btn-default {
  background-color: $theme-color;
  color: #fff;
  border: none;
  transition: all 0.3s;

  &:hover {
    background-color: $darker-theme-color;
  }
}

.btn-outline {
  background-color: transparent;
  color: $theme-color;
  border: 1px solid $theme-color;
}

.btn-major {
  background-color: $link-color;
  color: #fff;
}
